.github-logo img {
    height: 24px;
    width: auto;
}

.footer-container{
    display: flex;
    width: 100%;
    border-top-style: solid;
    justify-content: space-between;
    align-items: center;
}

.footer-container > div{
    margin: 0.5rem 2rem 0.5rem;
}